.container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 0px!important;
    background-color: white;
}

.mat-card {
    margin: 55px 10px 15px 10px !important;   
     overflow-y: auto;
    position: relative;
    height: 80%;
}
/* 
.mat-dialog-container {
    padding: 0px!important;
} */